@import "tailwindcss";
@import "@heroui/styles";

:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border, #e5e4e7);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
